@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

a:hover {
  opacity: 0.6;
}

a:active {
  opacity: 0.3;
}

a:focus {
  opacity: 1;
  box-sizing: border-box;
  outline: #AF4FFF solid 1px;
  outline-offset: 1px;
}

a:not([href]):hover {
 opacity: inherit
}

button:hover {
  opacity: 0.6;
}

button:active {
  opacity: 0.3;
}

button:focus {
  opacity: 1;
  box-sizing: border-box;
  outline: #AF4FFF solid 1px;
  outline-offset: 1px;
}

select:hover {
  opacity: 0.6;
}

select:focus {
  opacity: 1;
  box-sizing: border-box;
  outline: #AF4FFF solid 1px;
  outline-offset: 1px;
}

input:hover {
  opacity: 0.6;
}

input:active {
  opacity: 0.3;
}

input:focus {
  opacity: 1;
  outline: #AF4FFF solid 1px;
}

select:active {
  opacity: 0.3;
}

select:disabled , button:disabled , a:disabled , input:disabled, label:disabled  {
  opacity: 0.3;
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1440px;
}

html {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 40px;
  box-sizing: border-box;
  margin: 0 auto;
}

.page-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.navigation-link {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  padding: 20px 18px;
}

.logo-wrapper {
  margin-right: 28px;
}

.user-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-width: 268px;
  justify-content: space-between;
}

.user-nav-action-link {
  padding: 8px 50px;
  max-width: 160px;
  max-height: 36px;
  background: #756157;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.user-nav-search {
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  background: none;
  background-image: url(../img/search.svg);
  background-size: cover;
}

.user-nav-favourite {
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
  background: none;
  background-image: url(../img/heart.svg);
  background-size: cover;
  position: relative;  
}

.user-nav-favourite-number {
  position: absolute;
  background: #7DB54F;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  top: -12px;
  right: -12px;
}

.hero-block {
  min-height: 485px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url(../img/hero-background.jpg);
  background-size: cover;
  position: relative;
  margin-bottom: 69px;
}

.hero-block:after {
  content: '';
  display: block;
  background: url(../img/triangle.svg);
  min-width: 1205px;
  height: 57px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -5px;
  background-position: center;
}

.hero-block-subtitle {
  width: 188px;
  height: 45px;
  background-image: url(../img/welcome.svg);
  background-size: cover;
  position: relative;
}

.hero-block-subtitle:after {
  width: 256px;
  height: 29px;
  background-image: url(../img/to-the-gorgeous.svg);
  background-size: cover;
  content: '';
  display: block;
  position: absolute;
  bottom: -40px;
  left: -33px;
}

.hero-block-title {
  width: 457px;
  height: 213px;
  background-image: url(../img/sedona.svg);
  background-size: cover;
  position: relative;
}

.hero-block-subtitle {
  margin-bottom: 94px;
}

.about-box {
    margin-bottom: 64px;
}

.about-box-title {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  max-width: 620px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
}

.about-box-decription {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  margin-bottom: 69px;
}

.about-box-squares {
  display: grid;
  grid-template-rows: 385px 385px 385px;
  grid-template-columns: 400px 400px 400px;
}

.about-box-second, .about-box-sixth {
  grid-column: span 2;
}

.about-box-square-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.about-box-first, .about-box-seventh {
  color: #FFFFFF;
  background: #82B3D3;
}

.about-box-third, .about-box-fourth, .about-box-fifth {
  color: #000000;
}

.about-box-third, .about-box-fifth, .item-home, .item-present {
  background: rgba(131, 179, 211, 0.12);
}

.about-box-fourth {
  color: #000000;
  background: rgba(131, 179, 211, 0.2);
}

.about-box-second {
  background-image: url(../img/true-city.jpg);
  background-size: cover;  
}

.about-box-sixth {
  background-image: url(../img/bridge.jpg);
  background-size: cover;  
}

.square-item-title {
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  max-width: 180px;
  margin-bottom: 62px;
  position: relative;
}

.square-item-description {
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width: 230px;
}

.square-item-title:after {
    width: 60px;
    height: 2px;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    display: block;
    left: 60px;
    bottom: -30px;
}

.about-box-first .square-item-title:after, .about-box-seventh .square-item-title:after {
    background: rgba(255, 255, 255, 0.3);
}

.advantages-box-title {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    max-width: 505px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.advantages-box-decription {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin-bottom: 64px;
}

.advantages-box-wrapper {
    display: grid;
    grid-template-rows: 385px;
    grid-template-columns: 400px 400px 400px;
}

.advantage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.advantage-item-title {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.advantage-item-img {
    margin-bottom: 30px;
}

.advantage-item-description {
    max-width: 230px;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #333333;
}

.about-box.container, .advantages-box.container {
    padding: 0;
}

section.call-to-action.container {
    min-height: 406px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.call-to-action-link {
    padding: 8px 50px;
    max-width: 376px;
    max-height: 52px;
    background: #756157;
    border-radius: 4px;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

h2.call-to-action-title {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}

.call-to-action-decription {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    margin-top: 0;
    margin-bottom: 54px;
    max-width: 592px;
}

.email-block.container {
    min-height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/form-background.jpg);
    background-size: cover;
}

.email-block-title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 20px;
}

.email-block-decription {
    margin-top: 0;
    margin-bottom: 54px;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    max-width: 475px;
}

.subscribe-form-box {
    min-width: 684px;
}

.signup-email-input {
    min-width: 452px;
    min-height: 52px;
    box-sizing: border-box;
    padding: 14px 20px;
}

.subscribe-form-button.button {
    min-width: 232px;
    min-height: 52px;
    box-sizing: border-box;
    background: #82B3D3;
    border-radius: 0px 4px 4px 0px;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border: inherit;
}

li.footer-social-item {
    list-style: none;
}

.page-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 120px;
    align-items: center;
}

.vk {
  width: 24px;
  height: 14px;
  background-image: url(../img/vk.svg);
  background-size: cover;
  display: block;
}

.telegram {
  width: 18px;
  height: 15px;
  background-image: url(../img/telegram.svg);
  background-size: cover;
  display: block;  
}

.youtube {
  width: 22px;
  height: 17px;
  background-image: url(../img/youtube.svg);
  background-size: cover;
  display: block;  
}

.page-footer-social-list {
    display: flex;
    flex-wrap: wrap;
    width: 142px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.page-footer-phone {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.subscribe-form-box-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}